<div class='card-img'>
  {{ image }}
</div>
<div class="card-content">
  <span class="layout-builder-browser-block-item-label">{{ label }}</span>
  {% if description %}
    <div class="layout-builder-browser-block-item-description">{{ description }}</div>
  {% endif %}
</div>
