{% extends "kinetic:section" %}
{% set layout_class = 'one-column' %}
{% set inner_wrapper_classes = ['container'] %}
{% set column_classes = ['col-12'] %}
{% block content %}
  <div class="row">
    <div class="{{ column_classes|join(' ') }}">
      {% block first %}
        {{ first }}
      {% endblock %}
    </div>
  </div>
{% endblock %}

