parameters:
	ignoreErrors:
		-
			message: """
				#^Call to deprecated function user_roles\\(\\)\\:
				in drupal\\:10\\.2\\.0 and is removed from drupal\\:11\\.0\\.0\\. Use
				  \\\\Drupal\\\\user\\\\Entity\\\\Role\\:\\:loadMultiple\\(\\) and, if necessary, an inline
				  implementation instead\\.$#
			"""
			count: 1
			path: sitemap.install

		-
			message: "#^Function sitemap_book_title_update\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: sitemap.install

		-
			message: "#^Method Drupal\\\\sitemap\\\\Plugin\\\\Derivative\\\\BookSitemapDeriver\\:\\:create\\(\\) should return static\\(Drupal\\\\sitemap\\\\Plugin\\\\Derivative\\\\BookSitemapDeriver\\) but return statement is missing\\.$#"
			count: 1
			path: src/Plugin/Derivative/BookSitemapDeriver.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/Plugin/Derivative/BookSitemapDeriver.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/Plugin/Derivative/VocabularySitemapDeriver.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 3
			path: src/Plugin/Sitemap/Book.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/Plugin/Sitemap/Frontpage.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 3
			path: src/Plugin/Sitemap/Menu.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 8
			path: src/Plugin/Sitemap/Vocabulary.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/SitemapBase.php

		-
			message: """
				#^Usage of deprecated trait Drupal\\\\Tests\\\\field\\\\Traits\\\\EntityReferenceTestTrait in class Drupal\\\\Tests\\\\sitemap\\\\Functional\\\\SitemapTaxonomyTestBase\\:
				in drupal\\:10\\.2\\.0 and is removed from drupal\\:11\\.0\\.0\\. Use
				   \\\\Drupal\\\\Tests\\\\field\\\\Traits\\\\EntityReferenceFieldCreationTrait instead\\.$#
			"""
			count: 1
			path: tests/src/Functional/SitemapTaxonomyTestBase.php
