{#
  this is a simple setup catch all for handling form styling
  this may require you to change more templates for now to work with bootstrap here
#}

<form{{ attributes }}>
  {{ children }}
</form>
