{#
/**
 * @file
 * Default theme implementation for a paragraphs browser wrapper.
 *
 * Available variables:
 * - children: Contains the child elements of the paragraphs dropbutton menu.
 *
 * @ingroup themeable
 */
#}
{% if children %}
    {% apply spaceless %}
        <div class="paragraphs-browser-wrapper">
            {{ children }}
        </div>
    {% endapply %}
{% endif %}
