{#
/**
 * @file
 * Default theme implementation for a paragraphs browser wrapper.
 *
 * @ingroup themeable
 */
#}

<fieldset class="paragraphs-browser-paragraph-type">
    <legend>{{ form.label }}</legend>

  {% if form.icon %}
      <div>
        {{ form.icon}}
      </div>
  {% endif %}

  {% if form.description %}
      <div>
          <span>{{ form.description }}</span>
      </div>
  {% endif %}

  {{ form.add_more }}
</fieldset>